:root {
    --typography-face: "Inter", sans-serif;
    --round-lg: 18px;
    --divider-border-color: rgba(0, 0, 0, 0.1);
    --fg-primary: rgba(80, 61, 61, 0.8);
    --fg-secondary: rgba(250, 220, 220, 0.8);
    --base-typography-size: 14px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("/Wallpaper.svg");
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position-y: bottom;
    font-size: var(--base-typography-size);
    color: var(--fg-primary);
}

* {
    font-family: var(--typography-face);
}

h1 {
    font-weight: 600;
}

h1,
p {
    margin: 0;
}

h1 {
    font-size: calc(var(--base-typography-size) * 1.333);
    line-height: 1;
}

p {
    line-height: 1.5;
}

button {
    cursor: pointer;
}
button.sm {
    padding: 9px 16px;
    font-size: 13px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
}
button.md {
    padding: 11px 22px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
}
button.primary {
    background-color: #007aff;
    border: 1px solid #007aff;
    color: #ffffff;
}
button.secondary {
    background-color: rgba(70, 20, 20, 0.3);
    border: 1px solid rgba(230, 190, 190, 0.5);
    color: var(--fg-secondary);
}

input {
    outline: none;
    border: 1px solid rgba(200, 170, 170, 0.4);
    padding: 8px 24px;
    border-radius: 8px;
    background-color: rgba(210, 150, 150, 0.4);
    backdrop-filter: blur(4px);
    color: rgba(110, 80, 80, 0.75);
    box-sizing: border-box;
}

input:focus-visible {
    border: 1px solid #007aff;
    background: rgba(210, 150, 150, 0.4);
}

label {
    color: rgba(110, 80, 80, 0.75);
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    display: block;
}

input.full {
    width: 100%;
}

#root {
    background-color: rgba(230, 240, 240, 0.5);
    border-radius: var(--round-lg);
    backdrop-filter: blur(37px);
    width: 50%;
    max-height: 80vh;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header {
    padding: calc(var(--round-lg) * 0.5) calc(var(--round-lg) * 1.333);
    border-bottom: 1px solid var(--divider-border-color);
}
.content {
    padding: calc(var(--round-lg) * 1) calc(var(--round-lg) * 1.333);
}
