:root {
    --typography-face: "Inter", sans-serif;
    --round-lg: 28px;
    --divider-border: rgba(0, 0, 0, 0.1);
    --fg-primary: #3d3d3d;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("/Wallpaper.svg");
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position-y: bottom;
    font-size: clamp(1rem, 2.5vw, 1.1rem);
    color: var(--fg-primary);
}

* {
    font-family: var(--typography-face);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.5;
}

h1 {
    font-size: clamp(1.5rem, 3w, 2rem);
}

h2 {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

button {
    padding: 11px 22px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button.primary {
    background-color: #007aff;
    border: 1px solid #007aff;
    color: #ffffff;
}

input {
    outline: none;
    border: 1px solid rgba(220, 190, 190, 0.45);
    padding: 8px 24px;
    border-radius: 8px;
    background-color: rgba(210, 150, 150, 0.4);
    backdrop-filter: blur(4px);
    color: rgba(110, 80, 80, 0.75);
    box-sizing: border-box;
}

input.full {
    width: 100%;
}

#root {
    background-color: rgba(230, 240, 240, 0.5);
    border-radius: var(--round-lg);
    backdrop-filter: blur(37px);
    width: 40%;
    max-height: 80vh;
    box-sizing: border-box;
}
